body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: lightblue;
    background-image: url("eto.jpg"); 
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    color: #222;
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-repeat: no-repeat;
    
    
}


.navbar {
    background-color: rgb(112, 83, 102);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    transition: background 0.3s;
}

.navbar ul li a:hover {
    background: #7f4c84;
    border-radius: 5px;
}


.top {
    text-align: center;
    background-color: transparent;
    padding: 20px;
     
     background-size: cover;
     border-radius: 10px;
     margin: 20px 0;
}
.top h1 {
    font-size: 50px;
    margin: 0;
    color: rgb(69, 6, 24);

}
.tagline {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}

.mid {
    padding: 20px;
}


.info-box {
    
    background-size: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgb(18, 17, 17);
    opacity: 1;              
    transform: none;       
    transition: all 0.3s ease-in-out; 
    
  
   
}
.info-box h2, .info-box h3 {
    color: #1f1c1f;
}


table {
    border-collapse: collapse;
    width: 100%;
    background: rgb(228, 223, 223);
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: rgb(137, 90, 142);
    color: rgb(25, 18, 18); 
}
#picture {
  text-align: center;
  margin: 20px 0;
  overflow: hidden;
 
}
.gallery-item {
  max-width: 250px;
}
.gallery-item img {
  width: 100%; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.gallery {
  display: flex;              
  justify-content: center;    
  gap: 30px;                  
  flex-wrap: wrap;            

}
.caption {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}

footer {
   text-align: center;
    padding: 15px;
    background: rgba(112, 83, 102);
    color: white;
    margin-top: 20px;

}











